.app-title {
    float: left;
  }
  
  .app-title a {
    text-decoration: none;
    line-height: 64px;
    font-size: 21px;
    display: inline-block;
  }
  
  .app-title a:hover {
    text-decoration: none;
  }
  
  .app-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
  }
  
  .app-menu {
    float: right;
  }
  
  .app-menu > li {
    padding: 0 20px;
  }

  .app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
  }

  .app-menu > li > a > i {
    margin-right: 0 !important;
  }

  .profile-dropdown-menu {
    min-width: 180px;
  }

  .profile-menu .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
  }
  
  .profile-menu .username-info {
    font-size: 14px;
    color: rgba(0,0,0,0.65);
  }

  .dropdown-item {
    padding: 10px 12px;
  }

  .dropdown-item a {
    padding: 10px 12px;
    margin: -10px -12px;
  }
  
  .nav-icon {
    font-size: 20px;
  }

  .poll-icon {
    margin-top: -4px;
  }

@media (max-width: 768px) {
  .app-title a {
    font-size: 20px;
  }

  .app-menu > li {
    padding: 0 15px;
  }

  .app-menu > li > a {
    padding: 0 15px;
    margin: 0 -15px;
  }
}  

.main-header .noti-message{
  color: rgb(118, 118, 118) !important;
  padding-top: 16px !important;
  border-bottom: 1px solid rgb(235, 235, 235) !important;
  margin: 0px 16px !important;
  position: absolute;
  top: 66px;
  right: 100px;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
  min-width: 400px !important;
  max-width: 950px !important;
  border-width: 1px 1px 1px !important;
  border-style: none solid solid !important;
  border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(235, 235, 235) !important;
  border-image: initial !important;
  border-top: none !important;
}

.main-header .link-msg, .main-header .link-noti{
  font-weight: bold;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
  margin: 0px 16px !important;
}

.main-header .txt-msg{
  color: rgb(72, 72, 72) !important;
}

.main-header .link-noti{
  padding-top: 16px;
  padding-bottom: -16px;
}

.main-header .view-all{
  float: right;
  margin-top: -20px;
}